*.pyc
*.swp
*.log
*.dat
*.sh
*.pdf
*.png
*.jpeg
*.jpg

quickshots/
legacy/load.py
legacy/reid.py
legacy/models/*
legacy/samples/*
legacy/temp/*
legacy/protocol/*
legacy/model/*
legacy/reverse/*
legacy/logs/
legacy/test/
legacy/features/
legacy/datasets/
legacy/labs/
